@use '../custom' as *;
@use'../components/mixins' as *;


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-rendering: geometricPrecision;
  }
  
 

/* Ensure the loading container covers the entire screen */
#loading-container {
    position: fixed;          /* Fixed position relative to the viewport */
    top: 0;                   /* Align to the top */
    left: 0;                  /* Align to the left */
    width: 100%;              /* Full viewport width */
    height: 100%;             /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    z-index: 9999;            /* Ensure it appears above other content */
}

/* Spinner styling */
.spinner {
    @include gradient-initial;
    position: absolute;       /* Absolute positioning inside the loading container */
    top: 50%;                  /* 50% from the top of the container */
    left: 50%;                 /* 50% from the left of the container */
    width: 100px;               /* Spinner size */
    height: 100px;              /* Spinner size */
    border: 10px solid $primary; /* Light gray border */
    border-top: 10px solid $secondary; /* Blue top border */
    border-radius: 50%;        /* Circular shape */
    animation: spin 2s linear infinite; /* Spinning animation */
    transform: translate(-50%, -50%); /* Adjust the spinner's position to truly center it */
}

/* Keyframes for the spinning animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}










.bg-video {
  
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: .75;
    z-index: 1; // Ensure the video is behind the text
    overflow: hidden;
    background: linear-gradient(to right, #775b96, #DCE0D9, #49528c);
    display: block;
 

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    @media (max-width: 768px) {
        .bg-video {
            height: auto; /* Adjust if needed */
        }
    }
    
}


#come-button{
 
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        cursor: pointer;
        text-align:center;
        border: none;
        background-size: 300% 100%;
    
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    #come-button:hover {
       
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    #come-button:focus {
        outline: none;
    }
    
    #come-button.color-1 {
        background-image: none;
        box-shadow: 0 4px 15px 0 rgb(145, 152, 199);
        border-radius: 50px;
    }
        



.video-frame {
  
  }
  

  
  .video-frame::after {
    content: '';
    position: absolute;
    top: 70px;
    left: 70px;
    right: 70px;
    bottom:120px;
    border: 2px solid rgb(10, 10, 10); /* Adjust thickness as needed */
    z-index: 5000; /* Ensure it is above the video */
    pointer-events: none; /* Allows interaction with the video */
    box-sizing: border-box;
  }
  
  



////Sections fade in

  ////////////////////////////////////////////////////////////////

.landing {
    @include gradient-initial;
    min-height: 100vh;
    position: relative; // Ensures that the text can be positioned within this context
    z-index: 2; // Ensure it layers above the video
}



.intro-section {
    position: relative;
    padding-top: 300px;
    z-index: 2000;
 left:150px;

 @media (max-width: 1000px) {
   left:50px;
    
}
 
}





.wave1, .wave2 {
    transition: transform 0.8s ease-in-out, fill 0.8s ease-in-out;
    transform: scale(1) translateX(0px) translateY(10px);
    fill: $third;
    overflow:  hidden !important;
  }
  

  .gradient-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(234, 127, 94, 0.9), rgba(85, 81, 168, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: 0.3s ease, width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
    visibility: hidden; /* Hide initially */
    opacity: 0; /* Make it fully transparent */
}

.gradient-circle.visible {
    visibility: visible; /* Show when ready */
    opacity: 1; /* Fade in effect */
    transition: visibility 0s 0.3s, opacity 0.3s ease; /* Delay visibility change */
}


.inner-square {

        width: 71%; /* Size adjustment for the inner square */
        height: 71%;
        background: linear-gradient(
        to right, 
        #502651 13%,    /* This color will take up 10% of the space */
        rgb(122, 91, 131) 25%,             /* This color will take up from 10% to 25% */
        #878ca9 45%, /* From 25% to 45% */
                     /* This color will take up more space, from 45% to 65% */
         #878ca9 65%, /* From 75% to 85% */
                 /* Narrow band again */
         #ab9c70 75%,
         #a99047 100% /* Final color from 95% to 100% */
    );
        position: absolute;
        opacity: 0.1; /* Fully opaque */
    
    
}




.logo-text {
    text-align: center;
    color: rgba(0, 0, 0, 0.797);
    font-family: 'Raleway', sans-serif;
   
       
}


.logo-text .main-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: lowercase;

    @media (max-width: 700px) {
       
     font-size: 0.8rem !important;
       
}
}

.logo-text .subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: lowercase;


    @media (max-width: 700px) {
       
         display: none;
        
}
}

.logo-text .location {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-top: 4px;

    @media (max-width: 700px) {
       
       font-size: 0.5rem !important;
       
}
}





//GRADIENT BACKGROUND CLASS
.gradient-bg {
    background-color: grey;
}

