@use '../custom' as *;
@use'../components/mixins' as *;

.menu {
    @include gradient-initial; // gradient at mixins
    z-index: 3;


}



/* Navbar item styles */
.navbar-nav .nav-link {
    position: relative;
    padding-left: 0.5rem;
   
   
  }
  
  /* Curve effect: starts invisible */
  .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2px solid $primary;
    border-left: 2px solid $primary;
    border-top-left-radius: 1rem;
    opacity: 0; /* Invisible initially */
    transition: opacity 0s, width 0.4s ease, height 0.4s ease; /* Delay opacity to show only on hover */
  }
  
  /* Show and animate on hover */
  .navbar-nav .nav-link:hover::before {
    opacity: 1; /* Make visible */
    width: 1.5rem; /* Animate width */
    height: 1.5rem; /* Animate height */
  }
  
  /* Optional: Color change on hover for the text */
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Hover color for the text */
  }
  










/* Large screens */
@media (min-width: 992px) {
    .navbar-collapse {
      display: flex;
      justify-content: flex-end; /* Align items to the right */
    }
  
    .navbar-nav {
      align-items: center;
    }
  
    .navbar-nav .nav-item {
      margin-left: 1rem; /* Space between nav items */
    }
  
    .form-inline {
      margin-left: 1rem; /* Space the language button separately */
    }
  }
  
  /* Small screens */
  @media (max-width: 991px) {
    .navbar-collapse {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
    }
  
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center align nav items */
      width: 100%;
      margin-bottom: 1rem; /* Add space below nav items */
    }
  
    .navbar-nav .nav-item {
      margin: 0.5rem 0; /* Adds spacing between nav items */
      text-align: center;
    }
  
    .form-inline {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 0.5rem; /* Position directly below nav items */
    }
  }
  

.nav-link {
    text-decoration: none;
    color: $primary!important;
    font-weight: 800;
    font-size: 1rem!important;
    text-transform: lowercase;
    margin-left: 2rem;
    transition: color 0.3s ease-in-out;
   


    @media (max-width: 992px) {
        text-decoration: none;
        color: $primary!important;
        font-weight: 800;
        font-size: 2rem !important;
        text-transform: lowercase;
        padding: 2rem;
        margin-right: 2rem;
      
    }



}