
@use '../custom' as *;
@use'../components/mixins' as *;




.creatives{ 
    background-color: $third;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
     }

.rev-title { 
    color: $secondary;
    font-size: 5rem;
    font-family: 'Manrope' sans-serif !important;
}

.rev-title2 { 
    color: black;
    font-size: 5rem;
    font-family: 'Manrope' sans-serif !important;

    @media only screen and (max-width: 480px) {
        font-size: 4rem;
         }
         
         /* Tablet (portrait and landscape) */
         @media only screen and (min-width: 481px) and (max-width: 768px) {
           font-size: 4rem;
         }

         @media only screen and (min-width: 769px) and (max-width: 1100px) {
           font-size: 4rem;
         }


}


.pieces {
    background-color: black;
    padding-top: 3rem;
}

.rev-text {
    color: $third;
    text-align: justify;
    padding: 3rem;

    @media only screen and (max-width: 480px) {
      padding: 1rem;
         }
         
         /* Tablet (portrait and landscape) */
         @media only screen and (min-width: 481px) and (max-width: 768px) {
           padding: 2rem;
         }

         @media only screen and (min-width: 769px) and (max-width: 1100px) {
          padding: 2rem;
         }


}

.img-rev {
   width: 70%;
   height: 100%;
   padding: 2rem;
   margin-top: 5%;

   @media only screen and (max-width: 480px) {
    display: none;
     }
}

.rev-intro { 
    font-size: 1.7rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;

    @media only screen and (max-width: 480px) {
        font-size: 1.2rem;
         }
    
         @media only screen and (min-width: 769px) and (max-width: 1100px) {
           font-size: 1.4rem;
          }



    }


.rev-description { 
font-size: 1rem !important;



}


.creatives-bg { 
    background-color: $third;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    }


.cre-bio { 
           margin-top:1rem;
           margin-right: 10rem;
           margin-bottom: 5rem;


           @media only screen and (max-width: 480px) {
         margin-right: 0.5rem;
          }
          
          /* Tablet (portrait and landscape) */
          @media only screen and (min-width: 481px) and (max-width: 768px) {
            margin-right: 2rem;
          }

          @media only screen and (min-width: 769px) and (max-width: 1100px) {
            margin-right: 2rem;
          }



             
             }
     


 .rev-text2 {
            color: black;
            text-align: justify;

            @media only screen and (max-width: 480px) {
                padding: 1rem;
                   }
                   
                   /* Tablet (portrait and landscape) */
                   @media only screen and (min-width: 481px) and (max-width: 768px) {
                     padding: 2rem;
                   }
          
                   @media only screen and (min-width: 769px) and (max-width: 1100px) {
                    padding: 2rem;
                   }
          
          
        
        }



.shade2 {

            background: linear-gradient(90deg, $primary, grey, $third);
            background-repeat: no-repeat;
    
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
            
            }
            


            .cre-img-con{

               display: flex;
               align-items: center;
               justify-content: center;
               padding-bottom: 2rem;
                }  



      
            .creatives-img{

                width: 70%;
                height: 100%;
                }    



            
     #come-button2 {
                background-color: $third;
                margin: 5px;
                font-size: 16px;
                font-weight: 700;
                color: $third;
                cursor: pointer;
                text-align:center;
                border: none;
                background-size: 300% 100%;
                margin-left: 3rem;
                text-decoration: none;
                padding: 1.1rem;
            
                border-radius: 50px;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }
            
         
            
            #come-button2:hover {
                color: black;
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }
            
            #come-button2:focus {
                outline: none;
            }
            
            #come-button2.color-1 {
                background-image: linear-gradient(to right,  #31303a, #32303c, #A09ABC);
               
                border-radius: 50px;
            }
        
        
        
        
        
         
           
      
            