@use '../custom' as *;
@use'../components/mixins' as *;

/* General section styling */
.vision {
    background-color: $primary; /* Replace with actual primary color */
   
}

/* Title and heading styling */
.bold-vision-text {
   background: linear-gradient(90deg, #878ca9, rgb(194, 150, 125), $third);
   font-weight: 800;

-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  


/* Initial hidden state */
/* Ensure the hidden state has zero opacity and smooth transition */
.hidden {
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }
  
  /* Visible state will be fully opaque */
  .visible {
   
    opacity: 1;
    transform: translateX(10%) translateY(-10%); /* Start off-screen on the right */
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }
  
  /* Scale image to double size */
  .scaled {
    transform: scale(2) translateX(-20%) translateY(-10%);
   
    opacity: 0.15 !important; /* When scaled up */
    z-index: -1000 !important;


    @media (max-width: 700px) {
        transform: scale(1.1) translateY(10%);
        overflow: hidden !important;
   
        opacity: 0.3 !important; /* When scaled up */
        z-index: -1000 !important;
      
    }

    
  }
  
  /* Normal state for the image */
  .normal {
    transform: scale(1);
    opacity: 1; /* Normal opacity */
    transition: transform 2s ease;
  }
  
  #groupImage {
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    transition: transform 2s ease, opacity 2s ease;
   
    @media (max-width: 700px) {
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        transition: transform 2s ease, opacity 2s ease;
      
    }




  }

  




  #heading1 {
    position: relative; /* Make the pseudo-element position relative to this */
    margin-top: 10%;
    margin-right: 16%;
    font-size: 1.6rem;
    color: #0c1c21;
    text-align: justify;
    text-rendering: geometricPrecision;
    padding: 3rem 2rem;
    font-weight: 400;
    line-height: 2rem;
    transition: transform 1s ease-out 1s, opacity 1s ease-out 1s;

    @media (max-width: 700px) {
        transform: translateY(0%);
        font-size: 1rem;
        padding-left: 1.7rem;
        margin-top: 10%;
        margin-right: 0%;
        line-height: 1.5rem;
       
     }
 

    @media (max-width: 1000px) {
        transform: translateY(0%);
        font-size: 1rem;
        padding-left: 1.7rem;
        margin-top: 30%;
        margin-right: 0%;
        line-height: 1.5rem;
       
     }

 
     @media (max-width: 1400px) {
        transform: translateY(0%);
        font-size: 1rem;
        padding-left: 1.7rem;
        margin-top: 40%;
        margin-right: 0%;
        line-height: 1.5rem;
       
     }
}

.animate-border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, $primary , $secondary , $third);
    border-image-slice: 1;
    z-index: -1; /* Ensure the border is behind the text */
    animation: draw-border 4s linear forwards, fade-out-border 4s linear forwards;
}

@keyframes draw-border {
    0% {
        clip-path: inset(0% 0% 100% 0%);
    }
    100% {
        clip-path: inset(0% 0% 0% 100%);
    }

}

@keyframes fade-out-border {
    0% {
        opacity: 1; /* Full opacity when the border starts to draw */
    }
    100% {
        opacity: 0; /* Fade out completely at the end of the animation */
    }

}

   
  
  
 

/* Default hidden state for heading2 */
#heading2 {
  position: relative;
  font-weight: 400;
  font-size: 2rem;
  color:  #000000;
  transform: translateX(50%) translateY(-50%); /* Start off-screen on the right */
  transition: transform 1s ease-out 1s, opacity 1s ease-out 1s;
  z-index: 2; /* Ensure it stays above the image */
  margin-top: 6.5rem;


  @media (max-width: 700px) {
    position: relative;
    font-size: 1.2rem;
   
    color: #5b3a61;
    transform: translateY(200%); /* Start off-screen on the right */
    padding: 2rem;
    transition: transform 1s ease-out 1s, opacity 1s ease-out 1s;
    z-index: 2; /* Ensure it stays above the image */
  
}

}

/* When heading 2 should appear (class 'visible' is added when in viewport) */
.visible #heading2 {
  opacity: 1; /* Fade in */
  transform: translateX(70%); /* Move to original position */
  transition: transform 4s ease-out, opacity 4s ease-out;

  @media (max-width: 700px) {
    #heading2 {
      font-size: 1.5rem !important;
    }
}
}





